<div class="sidebar pr-5">
  <div class="side-top">
    <% if @user && @user != current_user %>
      <div class="user-info">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <h5 class="border-top mt-3 pt-1">name: <%= @user.name %> </h5>
        <h5 class="border-top pt-1">introduction: <%= @user.introduction %></h5>
      </div>
      <div class="edit-info">
        <%= link_to edit_user_path(@user.id), class: "btn btn-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    <% else %>
      <div class="user-info">
        <h2>User info</h2>
        <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <h5 class="border-top mt-3 pt-1">name: <%= current_user.name %> </h5>
        <h5 class="border-top pt-1">introduction: <%= current_user.introduction %></h5>
      </div>
      <div class="edit-info mt-4">
        <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do%>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="side-bottom mt-4">
    <div class="new-book">
      <h1 class="mb-0">New book</h1>
      <div class="new-book-form border border-primary p-2">
        <%= form_with model:Book.new, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title, class:"form-control" %>
          <h4>Opinion</h4>
          <%= f.text_area :body, class:"form-control" %></br>
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>