<div class="container">
  <div class="row">
    <div class="side col-md-3">
      <%= render 'books/side' %>
    </div>
    <div class="col-md-8 offset-md-1 w-75">
      <h1 class="border-bottom">Book detail</h1>
      <div class="book-detail">
        <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></br>
          <%= @user.name %>
        <% end %>
        <div class="detail-content border border-success rounded pt-2">
          <h4>Book title: <%= @book.title %></h4>
          <h4>Opinion: <%= @book.body %></h4>
        </div>
      </div>
      <div class="favorite mt-3">
        <span class="favorite-bottun">
          <% if Favorite.find_by(user_id: current_user.id, book_id: @book.id) %>
            <%= link_to book_favorites_path(@book.id), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            like👉
            <%= link_to book_favorites_path(@book.id), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </span>
        <span class="count">
          <% if Favorite.where(book_id: @book).count != 0 %>
            <%= Favorite.where(book_id: @book).count %>
          <% end %>
        </span>
        <span class="who-likes ml-4">
          <span class="text-white bg-secondary">Who likes? ...</span>
          <span class="bg-light text-dark ml-2">
            <% Favorite.where(book_id: @book).each do |favo| %>
              <i class="fas fa-heart"></i><%= User.find_by(id: favo.user_id).name %>
            <% end %>
          </span>
        </span>
      </div>
      <div class="edit-delete mt-2">
        <% if current_user == @user %>
          <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-outline-secondary" %>
          <span class="ml-2">
            <%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger" %>
          </span>
        <% end %>
      </div>
      <div class="comments mt-5">
        <div class="comment-body">
          <h3 class="border-bottom w-50">comments</h3>
          <% if Comment.find_by(book_id: params[:id]) %>
            <% Comment.where(book_id: params[:id]).each do |comment| %>
              <table>
                <tr>
                  <td><%= attachment_image_tag comment.user, :profile_image, format: 'jpeg', fallback:"no_image.jpg", size: "30x30" %>
                      <%= link_to comment.user.name, user_path(comment.user.id) %></td>
                  <td class="w-75 border-bottom">: <%= comment.body %></td>
                  <% if current_user == comment.user || current_user == @book.user %>
                    <td><%= link_to "destroy", book_comment_path(@book.id, comment.id), method: :delete, class:"btn btn-outline-warning btn-sm" %></td>
                  <% end %>
                </tr>
              </table>
            <% end %>
          <% else %>
            <p class="text-info">.....No comment yet.....</p>
          <% end %>
        </div>
        <div class="new-comment mt-3">
          <%= form_with(model:[@book, @comment], local: true) do |f| %>
            <label for="inputComment">Send a new comment:</label></br>
            <%= f.text_field :body, class:"w-75", id: "inputComment", placeholder:"your comment" %>
            <%= f.submit "Send", class:"btn btn-light btn-sm mb-1" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>