<div class="container">
  <div class="row">
    <div class="side col-md-3">
      <%= render 'books/side' %>
    </div>
    <div class="col-md-8 offset-md-1 w-75">
      <h1 class="border-bottom">Book detail</h1>
      <div class="book-detail d-flex justify-content-start">
        <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></br>
          <%= @user.name %>
        <% end %>
        <div class="detail-content-title pt-2">
          <h6 class="ml-5 text-primary"><%= @book.title %></h6>
        </div>
        <div class="detail-content-body pt-2">
          <h6 class="mx-5"><%= @book.body %></h6>
        </div>
        <div class="comments-count mx-5 pt-2">
          コメント数<i class="fas fa-comments"></i>：<%= Comment.where(book_id: @book.id).count %>
        </div>
        <div class="edit-delete ml-5 mt-2">
          <% if current_user == @user %>
            <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-outline-secondary" %>
            <span class="ml-2">
              <%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger" %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="favorite mt-3">
        <span class="favorite-button">
          <%= render "favorites/favorite-btn", book: @book, comments: @comments %>
        </span>
        <span class="who-likes ml-4">
          <span class="text-white bg-secondary">Who likes? ...</span>
          <span class="bg-light text-dark ml-2">
            <% Favorite.where(book_id: @book).each do |favo| %>
              <i class="fas fa-heart"></i><%= User.find_by(id: favo.user_id).name %>
            <% end %>
          </span>
        </span>
      </div>
      <div class="comments mt-5">
        <%= render 'comments/comment', book: @book, comments: @comments, comment: @comment %>
      </div>
    </div>
  </div>
</div>
